[user]
	email = jedistephen@hotmail.com
	name = JohnHolmesII
	signingKey = B5AF0DC61A1C84D8A3D6549322B2A6E2C1E7D12C
[core]
	autocrlf = input
[alias]
	last = diff HEAD^ HEAD
	undo-commit = reset --soft HEAD^
	pr = "!f() { git fetch -fu ${2:-upstream} refs/pull/$1/head:pr/$1 && git checkout pr/$1; }; f"
	pr-clean = "!git checkout master ; git for-each-ref refs/heads/pr/* --format=\"%(refname)\" | while read ref ; do branch=${ref#refs/heads/} ; git branch -D $branch ; done"
	lg = log --show-signature
	ci = commit
	co = checkout
[diff]
    tool = default-difftool
[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE
    
[gpg]
	program = gpg2
[pull]
	ff = only
[init]
	defaultBranch = master
[commit]
	gpgSign = true
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[pager]
	diff = diff-highlight | less
	log = diff-highlight | less
	show = diff-highlight | less
