/*
!/.gitignore

# Files in this dir
!/.gitconfig
!/.git-prompt.sh
!/.git-completion.bash
!/.git-completion.tcsh
!/.bashrc
!/.aliasrc
!/.xshrc
!/.profile
!/.inputrc

# Lower dirs
!/.config
!/.scripts
!/.gnupg

# Loose files
!/.ssh/config
