/*
!/.gitignore

# Files in this dir
!/.gitconfig
!/.git-prompt.sh
!/.git-completion.bash
!/.git-completion.tcsh
!/.bashrc
!/.zshrc
!/.aliasrc
!/.xshrc
!/.profile

# Lower dirs
!/.config
!/.scripts
!/.zsh

# Loose files
!/.ssh/config
