*

!.gitignore
!.gitconfig
!.bashrc
!.minttyrc
!.profile
!.scripts
!.scripts/*
!.config
!.config/sway
!.config/sway/*
!.config/waybar
!.config/waybar/style.css
!.config/gcm
!.config/gcm/gcm.jar
!.Xdefaults

