* {
    border: none;
    border-radius: 0;
    font-family: Hack Nerd Font Mono;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: rgba(43, 48, 59, 0.5);
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: white;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
    border-bottom: 3px solid transparent;
}

#workspaces button.active {
    background: #64727D;
    border-bottom: 3px solid white;
}

#workspaces button.urgent {
    background-color: #EB4D4B;
}

#wireplumber, #network, #mode, #clock, #battery, #backlight {
    color: #c3c95d;
    padding: 0 10px;
    margin: 0 5px;
}

#wireplumber {
    background-color: #572461;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#network {
    background: #763f82;
}

#clock {
    background-color: #7b5da9;
}

#backlight {
    background-color: #777777;
}

#battery {
    background-color: #380940;
}

#battery.charging {
    color: white;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
